// retirar linha verde do input
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: transparent;
    box-shadow: inset 0 -1px 0 0 #dedede;
}

// resolvendo problema do scroll no ios-12.2
ion-app.platform-ios12 ion-content { pointer-events: auto; /*fix scroll lock on ios12.2*/ }

.background-stable {
    background-color: #FDB413;
}

.content-stable {
    background-color: #E8E8E8 !important;
}

.segment-md .segment-button {
    color: #484848;
}

.segment-md .segment-button.activated,
.segment-md .segment-button.segment-activated {
    border-color: #484848;
    opacity: 1;
}

.span-style-color {
    color: #484848;
}

.my-position-button {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-right: 0;
}

.border-top-color {
    border-top: 1px solid #c8c8c8;
}

.item-divider-style {
    background-color: #f4f4f4;
    margin-top: 10px;
}

// form validator style
.class-error-form {
    color: red;
    margin-left: 15px;
    font-size: 13px;
}

.toast-success {
    text-align: center!important;
}

.font-size-select {
    font-size: 14px;
}

.paragrafo-termos {
    // color: #8c8b8b;
    color: #999;
    margin: 4px;
    text-align: center;
    text-decoration: underline;
}

.margin-button-save {
    margin-top: 30px;
}

.my-label {
    font-size: 12px;
}

.capitalize-enum {
    text-transform: capitalize;
}

.toolbar-md-navbarColor .bar-button-clear-md,
.toolbar-md-navbarColor .bar-button-default-md,
.toolbar-md-navbarColor .bar-button-outline-md,
.toolbar-md-navbarColor .toolbar-title-md {
    color: #484848;
}

.margin-icon {
    margin-right: 7px!important;
}

.button-search-principal {
    background-color: #FDB413;
    margin-left: 10%;
    box-shadow: none;
}

.btnDescartCss {
    color: red!important;
}

.btnFinalistatCss {
    color: green!important;
}

.btnCandidatCss {
    color: green!important;
}

.button-search {
    margin-top: -15px;
    // margin-left: 25%;
    background-color: #FDB413;
    box-shadow: none;
}

.ion-segment-style {
    position: fixed;
    margin-left: -3%;
    margin-top: -4px;
}

.icon-card-color {
    color: #999!important;
}

.badge-style {
    background-color: white;
    color: black;
    border-radius: 10px;
}

.disable-click {
    pointer-events: none
}

.content .scroll-content {
    overflow-y: auto !important;
}

.content-ios .scroll-content {
    overflow-y: scroll !important;
}

// faz o label do ion select ajustar o tamanho
.alert-radio-label {
    white-space: normal!important;
}