<ion-header no-border>

    <ion-navbar color="navbarColorBlue">
        <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
              </button>
        <ion-title>
            <span>{{ 'CANDIDATO_DETALHE' | translate }}</span>
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content>

    <div *ngIf="usuarioDetalheVagaEntity.nomePessoa">

        <div text-wrap text-center class="hide-card" style="background-color: #0C4B6D;">
            <div class="custom-avatar" style="margin-top: 30px;">
                <img src="assets/imgs/no-photo.png" *ngIf="!usuarioDetalheVagaEntity.imagemPessoaBs64" class="custom-avatar-vaga" />
                <img [src]="sanitizer.bypassSecurityTrustUrl(usuarioDetalheVagaEntity.imagemPessoaBs64)" *ngIf="usuarioDetalheVagaEntity.imagemPessoaBs64" class="custom-avatar-vaga" />
            </div>

            <div>
                <p style="color: #fff">{{ usuarioDetalheVagaEntity.nomePessoa }}</p>
                <ion-row>
                    <ion-col style="color: #fff">

                        <div>
                            <ion-icon ios="ios-mail" md="md-mail"></ion-icon> {{ usuarioDetalheVagaEntity.email }}</div>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col style="color: #fff">

                      <a ion-button clear item-end href="tel:+{{ usuarioDetalheVagaEntity.telefonePessoa }}">

                          <ion-chip style="width: 170px;">
                              <ion-icon ios="ios-call" md="md-call" style="color: #488aff; background-color: #fff;"></ion-icon>
                              <ion-label style="line-height: 2.3; color:#fff;"><b> {{ usuarioDetalheVagaEntity.telefonePessoa }} </b></ion-label>
                          </ion-chip>
                      </a>

                    </ion-col>
                </ion-row>
                <ion-row *ngIf="usuarioDetalheVagaEntity.telefonePessoa2" style="margin-top: -20px;">
                    <ion-col style="color: #fff">

                      <a ion-button clear item-end href="tel:+{{ usuarioDetalheVagaEntity.telefonePessoa2 }}">

                          <ion-chip style="width: 170px;">
                              <ion-icon ios="ios-call" md="md-call" style="color: #488aff; background-color: #fff;"></ion-icon>
                              <ion-label style="line-height: 2.3; color:#fff;"><b> {{ usuarioDetalheVagaEntity.telefonePessoa2 }} </b></ion-label>
                          </ion-chip>
                      </a>

                    </ion-col>
                </ion-row>
            </div>

        </div>

        <div padding text-wrap style="margin-bottom: 50%;">
            <div>
                <p style="text-align: center;"><strong>{{ usuarioDetalheVagaEntity.nomeVaga }}</strong></p>
                <hr style="border: 0.1px solid #999;">
                <p *ngIf="usuarioDetalheVagaEntity.genero == 'Feminino'">
                    <ion-icon ios="ios-female" md="md-female" class="icon-card-color"></ion-icon> {{ 'GENERO' | translate }}: {{ usuarioDetalheVagaEntity.genero }}</p>
                <p *ngIf="usuarioDetalheVagaEntity.genero == 'Masculino'">
                    <ion-icon ios="ios-male" md="md-male" class="icon-card-color"></ion-icon> {{ 'GENERO' | translate }}: {{ usuarioDetalheVagaEntity.genero }}</p>
                <p>
                    <ion-icon ios="ios-star" md="md-star" class="icon-card-color"></ion-icon> {{ 'DATA_NASCIMENTO' | translate }}: {{ usuarioDetalheVagaEntity.dataNascimentoFormat }}</p>
                <p>
                    <ion-icon ios="ios-star" md="md-star" class="icon-card-color"></ion-icon> {{ 'IDADE' | translate }}: {{ usuarioDetalheVagaEntity.idade }}</p>
                <p>
                    <ion-icon ios="md-globe" md="md-globe" class="icon-card-color"></ion-icon> {{ 'NACIONALIDADE' | translate }}: {{ usuarioDetalheVagaEntity.nacionalidade }}</p>
                <p>
                    <ion-icon ios="md-map" md="md-map" class="icon-card-color"></ion-icon> {{ 'LABEL_DISP_MUDANCA' | translate }}: {{ usuarioDetalheVagaEntity.disponibilidadeMudanca }}</p>
                <p>
                    <ion-icon ios="ios-clock" md="ios-clock" class="icon-card-color"></ion-icon> {{ 'LABEL_DISP_HORA_EXTRA' | translate }}: {{ usuarioDetalheVagaEntity.disponibilidadeHoraExtra }}</p>
                <p>
                    <ion-icon ios="ios-cash" md="ios-cash" class="icon-card-color"></ion-icon> {{ 'SALARIO' | translate }}: ¥{{ usuarioDetalheVagaEntity.salario }}</p>
                <p>
                    <ion-icon ios="md-people" md="md-people" class="icon-card-color"></ion-icon> {{ 'LABEL_POSSUI_FILHOS' | translate }}: {{ usuarioDetalheVagaEntity.possuiFilhos }}</p>
                <p *ngIf="usuarioDetalheVagaEntity.possuiFilhos == 'Sim'">
                    <ion-icon ios="md-person" md="md-person" class="icon-card-color"></ion-icon> {{ 'IDADE_FILHO_CACULA' | translate }}: {{ usuarioDetalheVagaEntity.idadeFilhoCacula }}</p>


                <div>
                    <hr style="border: 0.1px solid #999;">
                    <p>
                        <ion-icon ios="ios-pin" md="md-pin" class="icon-card-color"></ion-icon> {{ 'ENDERECO' | translate }}: {{ usuarioDetalheVagaEntity.endereco }}</p>
                    <p>
                        {{ 'LABEL_CEP' | translate }}: {{ usuarioDetalheVagaEntity.cep }}</p>
                    <p>
                        {{ 'PROVINCIA' | translate }}: {{ usuarioDetalheVagaEntity.nomeEstado }}</p>
                    <p>
                        {{ 'CIDADE' | translate }}: {{ usuarioDetalheVagaEntity.nomeCidade }}</p>
                </div>


                <div>
                    <hr style="border: 0.1px solid #999;">
                    <p style="text-align: center;"><strong>{{ 'NIVEL_IDIOMA_JAPONES_CANDIDATO' | translate }}</strong></p>
                    <p style="margin-top: 10px;">
                        <ion-icon ios="ios-chatboxes" md="md-chatboxes" class="icon-card-color"></ion-icon> {{ 'GRAU_ENTENDIMENTO' | translate }}: {{ usuarioDetalheVagaEntity.grauEntendimento }}</p>
                    <p style="margin-top: 10px;">
                        <ion-icon ios="ios-megaphone" md="md-megaphone" class="icon-card-color"></ion-icon> {{ 'GRAU_FALA' | translate }}: {{ usuarioDetalheVagaEntity.grauFala }}</p>
                    <p style="margin-top: 10px;">
                        <ion-icon ios="ios-create" md="md-create" class="icon-card-color"></ion-icon> {{ 'GRAU_ESCRITA' | translate }}: {{ usuarioDetalheVagaEntity.grauEscrita }}</p>
                    <hr style="border: 0.1px solid #999;">
                    <p style="margin-top: 10px;">
                        <ion-icon ios="ios-book" md="md-book" class="icon-card-color"></ion-icon> {{ 'EXPERIENCIA_PROFISSIONAL' | translate }}: {{ usuarioDetalheVagaEntity.experienciaProfissional }}</p>
                </div>
            </div>
        </div>

    </div>
</ion-content>
<ion-footer *ngIf="!usuarioDetalheVagaEntity.isFinalista && usuarioDetalheVagaEntity.nomePessoa">
    <ion-toolbar>
        <ion-row>
          <ion-col no-padding>
              <button no-margin ion-button full icon-end color="navbarColorBlue" (click)="verificaFavoritarCandidatoVaga()">
                  <span ><b>{{ 'BTN_FINALISTA' | translate }}</b></span>
                  <ion-icon ios="ios-star" md="md-star"></ion-icon>
              </button>
          </ion-col>
            <!-- <ion-col>
                <button ion-button clear item-end icon-left color="danger" (click)="verificaDescartarCandidatoVaga()"><ion-icon ios="ios-close" md="md-close"></ion-icon>
                    <strong>{{ 'BTN_DESCARTAR' | translate }}</strong></button>
            </ion-col> -->
            <!-- <ion-col>
                <button ion-button clear item-end icon-left (click)="verificaFavoritarCandidatoVaga()"><ion-icon ios="ios-star" md="md-star"></ion-icon>
                    <strong>{{ 'BTN_FINALISTA' | translate }}</strong></button>
            </ion-col> -->
        </ion-row>
    </ion-toolbar>
</ion-footer>
